IHIS/IHIS/IHIS/Mml23/xsd/Summary.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xs:schema xmlns:mmlPsi="uri:mmlPsi" xmlns:mmlSm="uri:mmlSm" xmlns:mmlRd="uri:mmlRd" xmlns:mmlSg="uri:mmlSg" xmlns:mmlCi="uri:mmlCi" xmlns:mmlCm="uri:mmlCm" elementFormDefault="qualified" targetNamespace="uri:mmlSm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="uri:mmlPsi" />
  <xs:import namespace="uri:mmlRd" />
  <xs:import namespace="uri:mmlSg" />
  <xs:import namespace="uri:mmlCi" />
  <xs:import namespace="uri:mmlCm" />
  <xs:element name="SummaryModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlSm:serviceHistory" />
        <!--<xs:element minOccurs="0" maxOccurs="unbounded" xmlns:q1="uri:mmlRd" ref="q1:RegisteredDiagnosisModule" />-->
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlRd:RegisteredDiagnosisModule" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:deathInfo" />
        <!--<xs:element minOccurs="0" maxOccurs="unbounded" xmlns:q2="uri:mmlSg" ref="q2:SurgeryModule" />-->
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlSg:SurgeryModule" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:chiefComplaints" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:patientProfile" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:history" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:physicalExam" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:clinicalCourse" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:dischargeFindings" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:medication" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:testResults" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:plan" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:remarks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="serviceHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:outPatient" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:inPatient" />
      </xs:sequence>
      <xs:attribute name="start" type="xs:string" />
      <xs:attribute name="end" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="outPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlSm:outPatientItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlSm:inPatientItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="outPatientItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlSm:date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:outPatientCondition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:staffs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inPatientItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlSm:admission" />
        <xs:element ref="mmlSm:discharge" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:staffs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="date" type="xs:string" />
  <xs:element name="outPatientCondition">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="first" type="xs:string" />
          <xs:attribute name="emergency">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="true" />
                <xs:enumeration value="false" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="staffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="mmlSm:staffInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="admission">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlSm:date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:admissionCondition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:referFrom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlSm:date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:dischargeCondition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlSm:referTo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="admissionCondition">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="emergency">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="true" />
                <xs:enumeration value="false" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="referFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlPsi:PersonalizedInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dischargeCondition">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="outcome">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="died" />
                <xs:enumeration value="worsening" />
                <xs:enumeration value="unchanged" />
                <xs:enumeration value="recovering" />
                <xs:enumeration value="fullyRecovered" />
                <xs:enumeration value="sequelae" />
                <xs:enumeration value="end" />
                <xs:enumeration value="pause" />
                <xs:enumeration value="continued" />
                <xs:enumeration value="transfer" />
                <xs:enumeration value="transferAcute" />
                <xs:enumeration value="transferChronic" />
                <xs:enumeration value="home" />
                <xs:enumeration value="unknown" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="referTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlPsi:PersonalizedInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="staffInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlPsi:PersonalizedInfo" />
        <!--<xs:element minOccurs="1" maxOccurs="unbounded" xmlns:q3="uri:mmlCi" ref="q3:creatorLicense" />-->
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="mmlCi:creatorLicense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deathInfo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="date" type="xs:string" />
          <xs:attribute name="autopsy">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="true" />
                <xs:enumeration value="false" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="chiefComplaints" type="xs:string" />
  <xs:element name="patientProfile" type="xs:string" />
  <xs:element name="history" type="xs:string" />
  <xs:element name="physicalExam">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!--<xs:element xmlns:q4="uri:mmlCm" ref="q4:extRef" />-->
        <xs:element ref="mmlCm:extRef" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="clinicalCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="mmlSm:clinicalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dischargeFindings">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!--<xs:element xmlns:q5="uri:mmlCm" ref="q5:extRef" />-->
        <xs:element ref="mmlCm:extRef" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="medication">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!--<xs:element xmlns:q6="uri:mmlCm" ref="q6:extRef" />-->
        <xs:element ref="mmlCm:extRef" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="testResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="mmlSm:testResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="plan">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!--<xs:element xmlns:q7="uri:mmlCm" ref="q7:extRef" />-->
        <xs:element ref="mmlCm:extRef" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="remarks" type="xs:string" />
  <xs:element name="clinicalRecord">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!--<xs:element xmlns:q8="uri:mmlCm" ref="q8:extRef" />-->
        <xs:element ref="mmlCm:extRef" />
        <xs:element ref="mmlSm:relatedDoc" />
      </xs:choice>
      <xs:attribute name="date" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="testResult">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!--<xs:element xmlns:q9="uri:mmlCm" ref="q9:extRef" />-->
        <xs:element ref="mmlCm:extRef" />
      </xs:choice>
      <xs:attribute name="date" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="relatedDoc">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="relation" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>